@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


/* Example styles for the header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-image: image();
    font-size : 1rem!important ;
    margin: 0px !important;
    font-family: 'Poppins', sans-serif;

 }

 /* lOGO */
.logo {
    font-size: 24px;
}

/* NAVBAR */

.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:white!important ;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 14px;
    transition:.5s linear;
    height: 17vh;
}

.desktop-nav-links {
    text-decoration: none;
    list-style: none;
    padding: 0 1rem;
    position: relative;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
    color: #3c3c3c;
    text-align: center;    
    display: flex;
    gap: -1rem;
    flex-direction: row;
    justify-content: center;
    width: 95%;
}
.desktop-nav-links a {

    text-decoration:none ;
    color: black;
    text-decoration-color: white;
    transition: background-color 0.3s;
    display: inline-flex;
    width: fit-content;
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 1;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: transparent solid 6px;
    position: relative;
    

}

 a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.desktop-nav logo {
    font-size: 3rem;
    font-weight: bold;

}

/* PRODUCTS SECTION */

.product image{
    height: 400px;
    width: 30px;
    margin: auto 0;
    border-radius: 50%;
}

.thumbnails {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px 0;
    gap: 10px;
    height: ;
    width: ;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}



/* Add styles for product, newsletter, and footer sections */

/* FOOTER */

.container {
    margin-top: auto;
    display: flexbox;
    justify-content: space-between;
    width: 80%;
    max-width: 940px;
    margin: 0 auto;
    text-align: left;

    flex-wrap: wrap;

    flex-direction: column;

    padding: 60px 10%;
}
.footer-nav{
    list-style: none;
    color: #fff;
    text-align: center;
    width: 100%;

    }

    .footer-links {
        width: max-content;
        margin: 0 auto;
        color: white;
        }
        
    ul.footer-links {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-flow: row nowrap;
        gap: 2em;
        flex-wrap: wrap;
        width: fit-content;
        text-align: center;
        padding: 0;
        position: relative;
        font-size: 1.75em;
        letter-spacing: -0.05em;
        list-style: none;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
}
        li a {
            display: flex;
            flex: content;
            padding: 1em;
            font-size: 1rem;
            letter-spacing: 0.5px;
            line-height: 1;
            text-decoration: none;
            color:black;
            opacity: 20;
            transition: all 0.3s linear;
            cursor: pointer;
            }
            li a:hover {
                transform: translateY(-2px);
                opacity: 1;
                color: rgb(163, 163, 163);
                }


footer a {
    text-align: center;
    color: black;
    text-decoration: none;
    transition: all .4s ease-in-out;
    }
    footer span{
        width: fit-content;
        }

}